Задание №1

In [19]:
import numpy as np
import pandas as pd
from scipy import stats

In [7]:
from google.colab import files
uploaded = files.upload()

Saving hockey_players.csv to hockey_players.csv

In [11]:
df = pd.read_csv('hockey_players.csv')

df.head(10)

   year country  no  ...        age cohort        bmi
0  2001     RUS  10  ...  24.952772   1976  24.543462
1  2001     RUS   2  ...  21.119781   1980  24.332277
2  2001     RUS  26  ...  25.229295   1976  28.680111
3  2001     RUS  28  ...  29.675565   1971  26.827421
4  2001     RUS  32  ...  23.490760   1977  28.734694
5  2001     RUS   4  ...  25.437372   1975  24.967113
6  2001     RUS   6  ...  28.725530   1972  27.117769
7  2001     RUS   7  ...  29.675565   1971  27.173102
8  2001     RUS  13  ...  27.520876   1973  26.234568
9  2001     RUS  14  ...  22.781656   1978  27.143037

[10 rows x 13 columns]

In [9]:
def anova(*ys: np.ndarray) -> float:
    """Функция возвращает значение F-статистики
    для дисперсионного анализа.
    """
    
    y = np.concatenate(ys)

    ss_b = sum((yi.mean() - y.mean()) ** 2 * yi.size for yi in ys)
    ss_w = sum(((yi - yi.mean()) ** 2).sum() for yi in ys)
    
    sigma_b = ss_b / (len(ys) - 1)
    sigma_w = ss_w / (y.size - len(ys))
    
    return sigma_b / sigma_w

In [12]:
df['country'].unique()

array(['RUS', 'AUT', 'BLR', 'CAN', 'CZE', 'FIN', 'GER', 'ITA', 'JPN',
       'LAT', 'NOR', 'SUI', 'SVK', 'SWE', 'UKR', 'USA', 'POL', 'SLO',
       'DEN', 'FRA', 'KAZ', 'HUN'], dtype=object)

In [14]:
countries = ['FIN', 'NOR', 'DEN']

In [16]:
ys = [df.loc[df['country'] == country, 'height'] for country in countries]

F = anova(*ys)
F

3.59345750724064

In [17]:
k = len(countries)
n = sum(y.size for y in ys)

k1 = k - 1
k2 = n - k

k1, k2

(2, 430)

In [21]:
alpha = 0.05

t = stats.f.ppf(1 - alpha, k1, k2)
t

3.016700272452327

In [26]:
ys = [df.loc[df['country'] == country, 'bmi'] for country in countries]

F = anova(*ys)
F

8.682513420531869

Ответ:
Отличия в росте и BMI хоккеистов из Финляндии, Норвегии и Дании является значимыми